* {
    font-family: 'Roboto', sans-serif;
}


/* Обратите внимание на измения для "липкой" шапки, пометил их звездочкой ниже */
header {
    position: relative;
    height: 50px;  /* * */
}

nav {
    position: fixed; /* * */
    width: 100%; /* * */
    height: 50px;
    background-color: #212121;
    /* z-index: 2; */ /* * */
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    /* чтобы все элементы выровнялись по вертикали, ибо изначально высота нашего блока всего 44 пикселя, она не доставала до нашей шапки*/
    margin: 0;
    /* надо сбрасывать чтобы убрать bottom*/

    list-style-type: none;
    /* чтобы убрать маркирование */

}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    /* манипулирует с помощью шрифтов */
}

.menu .menu_item {
    border-right: 2px dotted white;
    /* dotted -это точечная граница */
    padding-right: 28px;
    /* устанавливаем границу для нашей пунктирной линии */
}

.subheader {
    position: absolute;
    /* чтобы менюшка наезжала друг на друга */
    top: 50px; /* * */
    width: 100%;
    /* ширина этого блока будет 100 проц от родителя */
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
    /* используем альфа канал, чтобы не все было прозрачным.  */
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    /* если вдруг изменится картинка */
    /*     margin-top: 16px; */
    margin: 0 auto;
}


.subheader .subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    /* стилизуем саму кнопку */
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 10px;
    /* закругляем */
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);



    /* стилизовали текст */
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    color: #ffffff;
}


.promo {
    min-height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    /*  ибо кнопка - это блочно-строчный элемент, поэтому меняем его на блочный, чтобы потом поставить его по центру */
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
}

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center; /* выровнять по вертикали */
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;/*  чтобы было круглым */
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}